{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}

		<h1>Rango says...</h1>
		<div>
        here is the about page for this project. <br />
        This tutorial has been put together by <strong>{{ boldmessage2 }}</strong><br />

		</div>
		<div>
			<a href="/rango/">Go back</a><br />
			<img src="{% static "images/kiwibird.jpg" %}" alt="Picture of Rango" /> <!-- Tell Django where to find the picture-->
			<img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a cat." /> <!-- Tell Django where to find the picture-->
		</div>

	</body>
{% endblock %}